{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "main"}}
    {{with .Snippet}}
        <div class="snippet">
            <div class="metadata">
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class="metadata">
                <time>Created: {{humanDate .Created}}</time>
                <time>Expires: {{humanDate .Expires}}</time>
            </div>
        </div>
    {{end}}
    <br>
    <div>
        <span><i>Reviews {{.Review.Reviews}}</i></span>
    </div>
    <div>
        {{ if lt .Review.Reviews 5 }}
            <form action="/snippet/view/{{.Snippet.ID}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div>
                    <input type="submit" value="Submit review">
                </div>
            </form>
        {{else}}
            <b>Review completed.</b>
        {{end}}
    </div>
{{end}}
